<h2 *ngIf="nascondi">HelloComp2</h2>
<h4 *ngIf="nascondi">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio magni cumque,
  suscipit dignissimos explicabo veniam aut consequatur minus reiciendis quasi
  dolorum voluptatum tempora est quo doloribus maxime velit animi ad.
</h4>
<h5 *ngIf="nascondi">
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi a, animi
  incidunt eveniet ipsum sit, quod autem repellat omnis vitae laudantium nam
  quasi voluptate officia inventore molestiae fugit? Incidunt, quaerat? Ad
  similique veniam obcaecati cum, fuga, nobis fugiat officia delectus
  praesentium modi eum autem animi itaque, molestias non sint adipisci! Odit
  animi quaerat maxime laudantium eligendi perferendis unde dicta delectus.
</h5>
<button (click)="nascondi = !nascondi" class="btn btn-secondary">
  {{ nascondi ? "Nascondi" : "Mostra" }}
</button>
